        <div class="col-sm-12 message_list">
             <input id="type" type="hidden" value="message_all">
            <input id="messagetype" type="hidden" value="{{message_type}}">
            {% if unread_num>0 and no==1 %}
            <div class="unread_mess_list col-sm-12">您有<span style="color:red;">{{unread_num}}</span>条未读消息</div>
                {% for message in unread_list%}
                <div class="CM_wrap col-sm-12" id="CM_unread_{{message.id}}">
                    <div class="CM_co CM_head "><a href="/user_info?user_id={{message.comment.user.id}}"><img class="comm-img-sm" src="{{message.comment.touser.head_img_url}}"></a></div>
                    <div class="CM_co CM_detail  ">
                        <input class="communityid" type="hidden" value="{{message.community_id}}">
                        <input class="replyid" type="hidden" value="{{message.reply_id}}">
                        <div class="CM_co CM_name col-sm-12"><a  href="/user_info?user_id={{message.user.id}}">{{message.user.name}}</a></div>
                        <div class="CM_co CM_content col-sm-12" ><span style="color:#999;">回复<a href="/user_info?user_id={{message.touser.id}}">{{message.touser.name}}</a>：</span>{{message.comment.content|safe}}</div>
                        <div class="CM_co CM_old_content col-sm-12"><span>回复我的评论<!--<a class="comm-font-color" href="/user_info?user_id={{message.comment.user.id}}">{{message.touser.name}}</a>-->:</span>

                            {% if message.comment.parent %}
                                <a  href="/post?post_id={{message.post_id}}&community_id={{message.community_id}}&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}">{{message.comment.parent.content|safe}}</a>
                            {% else %}
                                <a  href="/post?post_id={{message.post_id}}&community_id={{message.community_id}}&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}">{{message.reply.content|safe}}</a>

                            {%endif%}
                        </div>
                        <div class="CM_co CM_foot col-sm-12">{{message.create_time}}</div>
                    </div>
                </div>
                {% endfor %}
            {%endif%}
            {% if read_num > 0 %}
                <div class="read_mess_list col-sm-12">已读消息</div>
            {%elif unread_num==0 and read_num==0%}
                <div class="read_mess_list col-sm-12">暂无消息</div>
            {%endif%}
            {% for message in read_list %}
                <div class="CM_wrap col-sm-12" id="CM_read_{{message.id}}">
                    <div class="CM_co CM_head "><a href="/user_info?user_id={{message.comment.user.id}}"><img class="comm-img-sm" src="{{message.user.head_img_url}}"></a></div>
                    <div class="CM_co CM_detail  ">
                        <input class="communityid" type="hidden" value="{{message.community_id}}">
                        <input class="replyid" type="hidden" value="{{message.reply_id}}">
                        <div class="CM_co CM_name col-sm-12"><a  href="/user_info?user_id={{message.user.id}}">{{message.user.name}}</a></div>
                        <div class="CM_co CM_content col-sm-12" ><span style="color:#999;">回复
                            <a href="/user_info?user_id={{message.touser.id}}">{{message.touser.name}}</a>：</span>{{message.comment.content|safe}}</div>
                        <div class="CM_co CM_old_content col-sm-12"><span >回复我的评论<!--<a class="comm-font-color" href="/user_info?user_id={{message.comment.user.id}}">{{message.touser.name}}</a>-->:</span>

                        {% if message.comment.parent %}
                            <a  href="/post?post_id={{message.post_id}}&community_id={{message.post.community_id}}&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}">{{message.comment.parent.content|safe}}</a>
                        {% else %}
                            <a  href="/post?post_id={{message.post_id}}&community_id={{message.post.community_id}}&commentid={{message.comment.id}}#here_{{message.reply_id}}" id="CM_content_{{message.id}}">{{message.reply.content|safe}}</a>
                        {%endif%}
                        </div>
                        <div class="CM_co CM_foot col-sm-12">{{message.create_time}}</div>
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="page-center"><ul class="sync-pagination pagination-sm" id="index-pagination"></ul></div>

