{% extends 'commons/_proto.html' %}

{% block body %}

<!--{% include 'commons/navbar_toutiao.html' %}-->

<div class="singup-wrap">
<div id="create_user_wrap" class="row div-signup">
  <form id="create_user_info">
    <h3 class="form-signup-heading">密码找回</h3>

    <div id="user_mobile_phone_div" class="form-group row">
      <label class="col-sm-3 col-form-label" for="user_mobile_phone_input">手机号： </label>
      <div class="col-sm-6">
        <input type="text" id="user_mobile_phone_input" placeholder="" class="form-control" onblur="return check_mobile_exist()"/>
      </div>
      <div class="col-sm-3">
        <button  id="button_send_sms_code" onclick="return send_sms_code()">发送验证码</button>
      </div>
    </div>

    <div id="user_mobile_verify_code_div" class="form-group row">
      <label class="col-sm-3 col-form-label">验证码： </label>
      <div class="col-sm-6">
        <input type="text" id="user_mobile_verify_code_input" placeholder="" class="form-control"/>
      </div>
    </div>

    <div id="user_password_div" class="form-group row">
      <label class="col-sm-3 col-form-label">请输入新密码：</label>
      <div class="col-sm-6">
        <input type="password" id="user_password_input" class="form-control"/>
      </div>
    </div>

    <div id="user_password_div" class="form-group row">
      <label class="col-sm-3 col-form-label">重复新密码：</label>
      <div class="col-sm-6">
        <input type="password" id="user_password_input_repeat" class="form-control" onblur="return check_password_and_repeat()"/>
      </div>
    </div>

    <div id="verify" class="form-group row col-sm-6 col-sm-offset-3 signup-submit-div">
      <button onclick="return modify_password()" class="btn btn-primary btn-lg btn-block">确定</button>
    </div>
  </form>
</div>
</div>

<script type="text/javascript">
 function check_mobile_exist() {
   var mobile=document.getElementById('user_mobile_phone_input').value;
   data={};
   data['mobile']=mobile;
   data['type']='check_exist';
   $.ajax({
     type:'POST',
     url:'/check_mobile_exist',
     data:data,
     dataType:'json',
     success:function(data) {
       if (data['succ'] != 0) {
         alert('your mobile maybe not correct');
         document.getElementById('user_mobile_phone_input').value="";
       } else {
       }
     },
     error:function(xhr,type){
       alert('mobile verify is not pass');
     }
   });
   return false;
 }
 function check_password_and_repeat() {
   var password=document.getElementById('user_password_input').value;
   var password_repeat=document.getElementById('user_password_input_repeat').value;
   if (password_repeat != password) {
     alert('两次输入密码不一致');
     document.getElementById('user_password_input').value="";
     document.getElementById('user_password_input_repeat').value="";
   }
   return false;
 }

 function modify_password() {
     var mobile = document.getElementById("user_mobile_phone_input").value;
     var sms_code = document.getElementById("user_mobile_verify_code_input").value;
     var password = document.getElementById("user_password_input").value;
     var password_repeat = document.getElementById("user_password_input_repeat").value;
     if (mobile == "") {
         alert("请输入手机号");
         return;
     }
     if (sms_code == "") {
         alert("请输入手机验证码");
         return;
     }
     if (password == "") {
         alert("请输入新密码");
         return;
     }
     if (password_repeat == "") {
         alert("请重复输入新密码");
         return;
     }
     var data={};
     data['type']='modify_password';
     data['mobile']=mobile;
     data['sms_code']=sms_code;
     data['password']=password;
     data['password_repeat']=password_repeat;
     $.ajax({
         type:'POST',
         url:'/modify_user',
         data:data,
         dataType:'json',
         success:function(data) {
            if (data['succ'] != 0) {
              alert('修改密码失败');
            } else {
              window.location.href="/index";
            }
         },
         error:function(xhr,type) {
             alert("phone or verify_code is not correct!");
             //window.location.href="/user_create_step_2";
         }
     });
     return false;
 }
 function send_sms_code() {
   alert('验证码已发送，如果未收到可填写 123456');
   return false;
 }
</script>
{% endblock %}
