{% extends 'commons/_proto.html' %}
{% from 'commons/upload.html' import macro_upload_js_css %}
{% from 'commons/upload.html' import macro_upload %}
{% block head %}
 {{ macro_upload_js_css() }}
 <link rel="stylesheet" type="text/css" href="stylesheets/community/user.css">
 <script src="{{url_for('static', filename='lib/jquery-2.0.3.js')}}"></script>
{% endblock %}

{% block body %}

<div id="navbar" class="navbar_style" >
    {% include 'commons/navbar_toutiao.html' %}
</div>
<div id="community_head" class="card_top_wrap">
        <div id="community_head_left" class="card_info">
          <!--upload image start-->
          <div id="crop-avatar">
             <!-- Current avatar -->
            <div id="community_img" class="card_image avatar-view">
             <a href = "JavaScript:void(0)"><img class="comm-img-bg" src="{{community.head_img_url}}" alt="Avatar"></a>
            </div>
            <input id="type" name="{{community.id}}" value="community" type="hidden">
              {% if session.get('userinfo')['id']==community.create_user_id %}
                {{ macro_upload()}}
              {% endif%}
          </div>
          <!--upload image end-->
          <div id="community_title" class="card_title">
            <a class="card_title_name" title="" href="/community?community_id={{community.id}}">{{community.name}}岛</a>
            <span class="card_num_wrap">
              <span class="card_num_label">成员：</span>
              <span id="join_user_num" class="card_num">{{community.user_num}}</span>
              <span class="card_num_label">贴子：</span>
              <span class="card_num">{{community.post_num}}</span>
            </span>
          </div>
        </div>
        <!--
        <div class="card_button_wrap">
          {% if session.get('userinfo') %}
            {% if has_join and has_join==True %}
              <button id="join_community" style="display:none" onclick="join_community()">加入</button>
              <button id="left_community" onclick="left_community()">退出</button>
            {% else %}
              <button id="join_community" onclick="join_community()">加入</button>
              <button id="left_community" style="display:none"  onclick="left_community()">退出</button>
            {% endif %}
          {% else %}
            <button id="join_community" onclick="join_community()">加入</button>
            <button id="left_community" style="display:none"  onclick="left_community()">退出</button>
          {% endif %}
        </div>
        -->
      </div>

<script type="text/javascript">


</script>
{% endblock %}
