{% extends 'commons/_proto.html' %}
{% from 'commons/navbar_toutiao.html' import macro_body_navbar %}

{% block body %}
    <div id="navbar">
    	{{ macro_body_navbar() }}
    </div>
    <input id="community_id" style="display:none" value={{community_id}}></input>
    <div id="all_backgroud" style="height:auto; background:#FFF">
        <div id="community_wrapper" style="width:50%;text-align:center;margin:0 auto">
            <div id="community_head" style="text-align:center; height:100px; background:#FFF">
            </div>
            <div id="community_info" style="text-align:center; height:50px; background:#FFF">
            </div>
            <div id="community_post" style="text-align:left; height:auto; background:#FFF">
                {% if object_list %}
                    {%for post in object_list%}
                        <div>
                           <font size=4 color=blue> <a style="color:inherit;" href="http://127.0.0.1:5100/post?post_id={{post.id}}">{{post.title|safe}}</a> </font>
                        </div>
                        <div style="height:40px;width:600px;overflow:hidden;text-overflow:ellipsis">
                            <a style="color:inherit" href="http://www.baidu.com"><p>{{post.content|safe}}</p></a>
                        </div>
                        <div>
                        <p>             </p>
                        </div>
                    {%endfor%}
                {% endif %}
            </div>
            <div id="publish_post" style="text-align:center; height:500px; background:#FFF">
                <div id="div_publish_post_title" style="text-align:left; height:50px; background:#FFF">
                    <input id="input_publish_post_title" type="text" style="width:300px" />
                </div>
                <div id="div_publish_post_content" style="text-align:left; height:300px; background:#FFF">
                    <input id="input_publish_post_content" type="text" style="width:300px;height:290px" />
                </div>
                <div id="div_button_publish_post" style="text-align:left; height:50px; background:#FFF">
                    <button id="button_publish_post" onclick='publish_post()'> 发新帖</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
         //var obj=document.getElementById("button_publish_post");
         //obj.onclick=function() {
         //  publish_post();
         //}
         function publish_post() {
           //get title
           var title=document.getElementById("input_publish_post_title").value;
           //get content
           var content=document.getElementById("input_publish_post_content").value;
           var id=document.getElementById("community_id").value;
           //post request for save post
           post("/post_publish",{"type":"publish","title":title,"content":content,"create_user_id":1,"community_id":id});
         }
         function post(URL, PARAMS) {        
             var temp = document.createElement("form");        
             temp.action = URL;        
             temp.method = "post";        
             temp.style.display = "none";        
             for (var x in PARAMS) {        
                 var opt = document.createElement("textarea");        
                 opt.name = x;        
                 opt.value = PARAMS[x];        
                 temp.appendChild(opt);        
             }     
             document.body.appendChild(temp);        
             temp.submit();        
             return temp;        
         }     
         function search() {
             post("/search",{"query":document.getElementById("search_input").value});
         }
        // function pre_page(page_no) {
        //     window.location="/search_result?page_no="+({{page_no}}-1).toString();
        // }
        // function next_page(page_no) {
        //     window.location="/search_result?page_no="+({{page_no}}+1).toString();
        // }
    </script>
{% endblock %}
