{% extends 'commons/_proto.html' %}
{% from 'commons/navbar_toutiao.html' import macro_body_navbar %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="stylesheets/community/community_home.css">
{% endblock %}

{% block body %}
    <div id="navbar">
    	{{ macro_body_navbar() }}
    </div>
    <input id="community_id" style="display:none" value={{community.id}}></input>
    <div id="all_backgroud" style="min-height:1000px;overflow:auto; background:#FFF">
        <div id="community_wrapper" style="width:70%;text-align:center;margin:0 auto">
            <div id="community_head" class="card_top_wrap">
                <div id="community_head_left" class="card_info">
                    <div id="community_img" class="card_image">
                        <a>
                            <img class src="{{community.head_img_url}}">
                        </a>
                    </div>
                    <div id="community_title" class="card_title">
                       <a class="card_title_name" title="" href="127.0.0.1:6100/community?id={{community.id}}">{{community.name}}岛</a>
                       <span class="card_num_wrap">
                           <span class="card_num_label">关注：</span>
                           <span class="card_num">{{community.user_num}}</span>
                           <span class="card_num_label">贴子：</span>
                           <span class="card_num">{{community.post_num}}</span>
                       </span>
                    </div>
                </div>
            </div>
            <div id="community_post" style="text-align:left; height:auto; background:#FFF">
                {% if object_list and user_list%}
                    {%for i in range(post_num)%}
                        <div class="post_item_wrap">
                            <div class="post_item">
                                <div class="post_item_left_wraper">
                                    <div class="post_user_face">
                                        <a>
                                            <img class src="{{user_list[i].head_img_url}}">
                                        </a>
                                    </div>
                                    <div class="post_reply_count_wraper">
                                        <a class="post_reply_count">
                                            <span>{{object_list[i].floor_num|safe}}</span>
                                            <!--<span>152</span>-->
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content_wrap">
                                    <div class="post_title">
                                       <a class="post_title_font" href="http://127.0.0.1:6100/post?post_id={{object_list[i].id}}&community_id={{community.id}}">{{object_list[i].title|safe}}</a>
                                    </div>
                                    <div class="post_content">
                                        <!--<a style="color:inherit" href=""><p>{{object_list[i].content|safe}}</p></a>-->
                                        <p class="post_content_char">{{object_list[i].content|safe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                {% endif %}
            </div>
            <div id="publish_post" class="poster_container">
                <div id="publish_post_header" class="poster_header">
                   <a class="post_header_info">发表新贴</a>
                </div>
                <div id="div_publish_post_title" class="poster_title">
                    <input id="input_publish_post_title" type="text" style="width:300px" />
                </div>
                <div id="div_publish_post_content" class="poster_content">
                    <input id="input_publish_post_content" type="text" style="width:300px;height:290px" />
                </div>
                <div id="div_button_publish_post" class="poster_publish_container">
                    {% if session.get('userinfo') %}
                        <button id="button_publish_post" onclick='publish_post()'> 发新帖</button>
                    {% else %}
                        <button id="button_publish_post" onclick='publish_post_no_login()'> 发新帖</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
         //var obj=document.getElementById("button_publish_post");
         //obj.onclick=function() {
         //  publish_post();
         //}
         function publish_post() {
           //get title
           var title=document.getElementById("input_publish_post_title").value;
           //get content
           var content=document.getElementById("input_publish_post_content").value;
           var id=document.getElementById("community_id").value;
           //post request for save post
           {% if session.get('userinfo') %}
             post("/post_publish",{"type":"publish","title":title,"content":content,"create_user_id":{{session.get('userinfo')['id']}},"community_id":id});
           {%else%}
             post("/post_publish",{"type":"publish","title":title,"content":content,"create_user_id":1,"community_id":id});
           {%endif%}
         }
         function publish_post_no_login() {
           alert('您需要登录后才能发帖哦！');
         }
         function post(URL, PARAMS) {        
             var temp = document.createElement("form");        
             temp.action = URL;        
             temp.method = "post";        
             temp.style.display = "none";        
             for (var x in PARAMS) {        
                 var opt = document.createElement("textarea");        
                 opt.name = x;        
                 opt.value = PARAMS[x];        
                 temp.appendChild(opt);        
             }     
             document.body.appendChild(temp);        
             temp.submit();        
             return temp;        
         }     
         function search() {
             post("/search",{"query":document.getElementById("search_input").value});
         }
        // function pre_page(page_no) {
        //     window.location="/search_result?page_no="+({{page_no}}-1).toString();
        // }
        // function next_page(page_no) {
        //     window.location="/search_result?page_no="+({{page_no}}+1).toString();
        // }
    </script>
{% endblock %}
