<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../stylesheets/core.css" />
    <link rel="stylesheet" href="../stylesheets/iconfont.css" />
</head>

<body>
    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards user-form">
            <div class="box-sm pull-right">
                <div class="blk-6x"></div>
                <div class="heading"><span>密码找回</span></div>
                <form name="form">
                    <div class="form-group">
                        <input type="text" id="user_mobile_phone_input" placeholder="手机号" class="form-control" onblur="return check_mobile_exist()"/>
                    </div>
                    <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="验证码" id="user_mobile_verify_code_input" class="form-control">
                        <div class="input-group-btn"><button id="button_send_sms_code" onclick="return send_sms_code()" class="btn btn-default">发送验证码</button>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="输入新密码" id="user_password_input"  class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="再次输入新密码" id="user_password_input_repeat" onblur="return check_password_and_repeat()" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" onclick="return modify_password()"  class="btn btn-md btn-primary btn-block">确定</button>
                    </div>
                    <div class="blk-2x"></div>
                    <div class="text-danger" id="msg"></div>
                    <div class="blk-6x"></div>
                </form>
            </div>
            <div class="divider solid "></div>
        </div>
    </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../lib/jquery-1.8.1.min.js "></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js "></script>
</body>
<script type="text/javascript">
  function check_mobile_exist() {
    var mobile=document.getElementById('user_mobile_phone_input').value;
    data={};
    data['mobile']=mobile;
    data['type']='check_exist';
    $.ajax({
      type:'POST',
      url:'/check_mobile_exist',
      data:data,
      dataType:'json',
      success:function(data) {
        if (data['succ'] != 0) {
          //alert('your mobile maybe not correct');
          document.getElementById('msg').innerHTML="手机号不存在!";
          document.getElementById('user_mobile_phone_input').value="";
        } else {
          document.getElementById('msg').value="";
        }
      },
      error:function(xhr,type){
        alert('mobile verify is not pass');
      }
    });
    return false;
 }
 function check_password_and_repeat() {
   var password=document.getElementById('user_password_input').value;
   var password_repeat=document.getElementById('user_password_input_repeat').value;
   if (password_repeat != password) {
     document.getElementById('msg').innerHTML="两次输入密码不一致";
     document.getElementById('user_password_input').value="";
     document.getElementById('user_password_input_repeat').value="";
   } else {
     document.getElementById('msg').innerHTML="";
   }
   return false;
 }
 function modify_password() {
     var mobile = document.getElementById("user_mobile_phone_input").value;
     var sms_code = document.getElementById("user_mobile_verify_code_input").value;
     var password = document.getElementById("user_password_input").value;
     var password_repeat = document.getElementById("user_password_input_repeat").value;
     if (mobile == "") {
         document.getElementById('msg').innerHTML="请输入手机号";
         return false;
     }
     if (sms_code == "") {
         document.getElementById('msg').innerHTML="请输入手机验证码";
         return false;
     }
     if (password == "") {
         document.getElementById('msg').innerHTML="请输入新密码";
         return false;
     }
     if (password_repeat == "") {
         document.getElementById('msg').innerHTML="请重复输入新密码";
         return false;
     }
     var data={};
     data['type']='modify_password';
     data['mobile']=mobile;
     data['sms_code']=sms_code;
     data['password']=password;
     data['password_repeat']=password_repeat;
     $.ajax({
         type:'POST',
         url:'/modify_user',
         data:data,
         dataType:'json',
         success:function(data) {
            if (data['succ'] != 0) {
              document.getElementById('msg').innerHTML="修改密码失败";
            } else {
              window.location.href="/index";
            }
         },
         error:function(xhr,type) {
             alert("phone or verify_code is not correct!");
             //window.location.href="/user_create_step_2";
         }
     });
     return false;
 }
 function send_sms_code() {
   alert('验证码已发送，如果未收到可填写 123456');
   return false;
}
</script>

</html>
