<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../stylesheets/core.css" />
    <link rel="stylesheet" href="../stylesheets/iconfont.css" />
</head>

<body>

    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="blk-2x"></div>

            <div class="cards md">
                <div class="mian-container">
                    <div class="blk-2x"></div>
                    <div class="section">
                        <div class="heading border">
                            <h4>热帖推荐</h4></div>
                        <div class="media-content post-list">
                        </div>
                    </div>
                    <div class="blk-2x"></div>
                    <ul id="page" class="pagination" maxshowpageitem="5" >
                    </ul>
                </div>
                <div class="side-container">
                    <div class="section heading">热门社区</div>
                    <div class="blk-1x"></div>
                </div>

            </div><div class="divider solid "></div>

        </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>


    <script src="../lib/jquery-1.8.1.min.js "></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js "></script>
    <script src="../lib/js/index.js"></script>
    <script src="../lib/js/page/page.js"></script>
</body>

</html>
<script type="text/javascript">
    var user_id = 0;
    var page_no = 1;
    var num_perpage = 10;
    var total ={{total}};
    function getLoginInfo(){
        {% if session.get('userinfo')%}
            user_id = {{session.get('userinfo')['id']}};
        {%endif%}
    }
    initData();
</script>
