<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tiny, opensource, Bootstrap WYSIWYG rich text editor from MindMup</title>
    <meta name="viewport" content="width=device-width, initial-scale=x1.0"/>
    <meta name="keywords" content="opensource rich wysiwyg text editor jquery bootstrap execCommand html5"/>
    <meta name="description"
          content="This tiny jQuery Bootstrap WYSIWYG plugin turns any DIV into a HTML5 rich text editor"/>
    <link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png"/>
    <link rel="shortcut icon" href="http://mindmup.s3.amazonaws.com/lib/img/favicon.ico">
    <link href="lib/bootstrap/wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="lib/css/qq.face.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/iconfont.css"/>
    <script src="lib/bootstrap/wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="lib/bootstrap/wysiwyg/external/google-code-prettify/prettify.js"></script>
    <link href="lib/bootstrap/wysiwyg/index.css" rel="stylesheet">
    <script type="text/javascript" src="lib/js/jquery.qqFace.js"></script>
    <script src="lib/bootstrap/wysiwyg/bootstrap-wysiwyg.js"></script>
</head>
<body>


     <div id="editor" class="input-area">
     </div>
     <div class="btn-toolbar" style="margin-bottom:0;" data-role="editor-toolbar" data-target="#editor">
    <div class="">
        <a class="btn_emotion" ><span class="emotion"><i class="icon-face"></i></span></a>
         <a class="btn" style="position:relative;"  title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-img"></i></a>
        <input type="file"  accept="images/*" id="descripitionImg"  data-target="#pictureBtn" data-edit="insertImage" multiple
          class="input-hide" >
        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
    </div>

</div>

<script>
 // add by lxx.smile start
$(function(){

	$('.emotion').qqFace({

		id : 'facebox',

		assign:'editor',

		path:'images/arclist/'	//表情存放的路径

	});


});

<!--function onBlur(){-->
    <!--$('#editor').removeClass('say_word_border')-->
<!--}-->
<!--function onFocus(){-->

  <!--$('#editor').addClass('say_word_border')-->

<!--}-->
//查看结果

function replace_em(str){

	str = str.replace(/\</g,'&lt;');

	str = str.replace(/\>/g,'&gt;');

	str = str.replace(/\n/g,'<br/>');

	str = str.replace(/\[em_([0-9]*)\]/g,'<img style="vertical-align: left; text-align: left;" src="images/arclist/$1.gif" border="0" />');

	return str;

}//smile end

  $(function(){
    function initToolbarBootstrapBindings() {

      $('a[title]').tooltip({container:'body'});
    	$('.dropdown-menu input').click(function() {return false;})
		    .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
        .keydown('esc', function () {this.value='';$(this).change();});

      $('[data-role=magic-overlay]').each(function () {
        var overlay = $(this), target = $(overlay.data('target'));
        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
      });
      if ("onwebkitspeechchange"  in document.createElement("input")) {
        var editorOffset = $('#editor').offset();
        $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
      } else {
        $('#voiceBtn').hide();
      }
	};
	function showErrorAlert (reason, detail) {
		var msg='';
		if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
		else {
			console.log("error uploading file", reason, detail);
		}
		$('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
		 '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
	};
    initToolbarBootstrapBindings();
	$('#editor').wysiwyg({ fileUploadError: showErrorAlert} );
    window.prettyPrint && prettyPrint();
  });

</script>

</body>
</html>
