<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../stylesheets/core.css" />
    <link rel="stylesheet" href="../stylesheets/iconfont.css" />
</head>

<body>
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards user-form">
            <div class="box-sm pull-right">
                <div class="blk-6x"></div>
                <div class="heading"><span>欢迎来到金融岛！</span></div>
                <form method='POST' name="form">
                    <div class="form-group">
                        <input type="text" placeholder="手机号或用户名" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" name="password" id="password" class="form-control">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-md btn-primary btn-block">登录</button>
                    </div>
                    <small class="pull-right">还没有帐号？<a href="/regist" class="text-info">马上注册</a></small><small><a href="/forget_password">忘记密码?</a></small>
                    {%if msg %}
                    <div class="blk-2x"></div>
                    <div class="text-danger">{{msg}}</div>
                    <div class="blk-6x"></div>
                    {%endif %}
                </form>
            </div>
            <div class="divider solid "></div>
        </div>
    </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../lib/jquery-1.8.1.min.js "></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js "></script>
</body>

</html>
