{% extends 'commons/_proto.html' %}

{% block body %}
<!--{% include 'commons/navbar_toutiao.html' %}-->


<div class="col-sm-12">
    <div class="message_container">
        <div class="message_type_nav col-sm-12">
            <ul>
                <li class="type_reply"><a href="javascript:void(0)" onclick="getMessage(3)">评论
                {% if count_reply %}
                  <span class="circle_sm">{{count_reply}}</span>
                {% endif %}
                </a></li>
                <li class="type_like"><a href="javascript:void(0)" onclick="getMessage(2)">赞
                {% if count_do_good %}
                  <span class="circle_sm">{{count_do_good}}</span>
                {% endif %}
                </a></li>
                <li class="type_comment"><a href="javascript:void(0)" onclick="getMessage(4)">回复
                {% if count_comment %}
                  <span class="circle_sm">{{count_comment}}</span>
                {% endif %}
                </a></li>
                <li class="type_guanzhu"><a href="javascript:void(0)" onclick="getMessage(1)" style="border:none;">关注
                {% if count_guanzhu %}
                  <span class="circle_sm">{{count_guanzhu}}</span>
                {% endif %}
                </a></li>
            </ul>
        </div>
        {%if message_type==1%}
            {% include 'guanzhu_message.html' %}
        {%elif message_type==2%}
            {% include 'like_message.html' %}
        {%elif message_type==3%}
            {% include 'reply_message.html' %}
        {%elif message_type==4%}
            {% include 'comment_message.html' %}
        {%endif%}

    </div>
</div>

<script src="lib/jquery.twbsPagination.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    var type = $('#type').val();
    var message_type = $('#messagetype').val();
   var pageNo = {{no}};
   var pageSize = {{size}};
   var totalCount = {{totalsize}};
   console.debug("page:", pageNo, pageSize, totalCount);

   var totalPages = Math.ceil(totalCount/pageSize);
   if(message_type==1){
        $('li.type_guanzhu').css('background','#f2f4f7');
        $('.message_type_nav>li:not(li.type_like)').css('background','#fff');
   }else if(message_type==2){
        $('li.type_like').css('background','#f2f4f7');
        $('.message_type_nav>li:not(li.type_like)').css('background','#fff');
   }else if(message_type==3){
        $('li.type_reply').css('background','#f2f4f7');
        $('.message_type_nav>li:not(li.type_reply)').css('background','#fff');
   }else if(message_type==4){
        $('li.type_comment').css('background','#f2f4f7');
        $('.message_type_nav>li:not(li.type_comment)').css('background','#fff');

   }

    function getMessage(type_param){
        pageNo=1;
        pageSize=10;
        message_type=type_param

        var url = "/message?type="+type+"&message_type="+message_type+"&no=" + pageNo + "&size=" + pageSize;
        console.debug("pageurl:", url);
        post("/message",{"type":type,"message_type":message_type,"no":pageNo,"size":pageSize});
    }

   $('.sync-pagination').twbsPagination({
       startPage: pageNo,
       totalPages: totalPages,
       first: '首页',
       prev: '前一页',
       next: '下一页',
       last: '末页',
       onPageClick: function (evt, page) {
           if (page == pageNo) {
               console.debug("current page number clicked, do nothing.");
               console.log(page)
            console.log(pageNo)
               return;
           }
           var url = "/message?type="+type+"&message_type="+message_type+"&no=" + page + "&size=" + pageSize;
           console.debug("pageurl:", url);
           window.location.href = url;
       }
   });

   function post(URL, PARAMS) {
       var temp = document.createElement("form");
       temp.action = URL;
       temp.method = "get";
       temp.style.display = "none";
       for (var x in PARAMS) {
           var opt = document.createElement("textarea");
           opt.name = x;
           opt.value = PARAMS[x];
           temp.appendChild(opt);
       }
       document.body.appendChild(temp);
       temp.submit();
       return temp;
   }

   function search() {
       var searchText = $("#search_input").val(); //document.getElementById("search_input").value
       console.debug("searchText:", searchText);
       if (searchText && searchText.trim()) {
           post("/community_search",{"type":"query", "name":searchText});
       }
   }

</script>

{% endblock %}
