{% extends 'commons/_proto.html' %}


{% block body %}
<div id="navbar">
  {% include 'commons/navbar_toutiao.html' %}
</div>
<div id="all_backgroud" class="post-page-main">
  <div id="post_wrapper" class="post_all_wraper">
    <div id="reply_info" class="reply_info">
      {% if reply_data and reply_user and reply_like_count %}
      <div class="reply_body">
        <input type="hidden" value="{{reply_data.id|safe}}" name="reply-id-hidden" />
        <div class="reply_author">
          <div class="reply_user_face">
            <a href="/user_info?user_id={{reply_user.id}}">
              <img class src="{{reply_user.head_img_url}}">
            </a>
          </div>
          <div class="reply_user_name_wraper">
            <a class="reply_user_name">
              {{reply_user.name}}
            </a>
          </div>
        </div>
        <div class="reply_content_wrap">
          <div class="reply_content_area">
            <div class="reply_content">
              <a style="color:inherit" href="javascript:void"><p>{{reply_data.content|safe}}</p></a>
            </div>
          </div>
          <div class="reply_like_stat">
            <a id="link-{{reply_data.id|safe}}" href="javascript:void();" ><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></a>
            <span id="count-{{reply_data.id|safe}}" class="rely_like_count">{{reply_like_count}}</span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
