<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../static/stylesheets/core.css" />
    <link rel="stylesheet" href="../static/stylesheets/iconfont.css" />
</head>

<body>
    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="divider solid "></div>
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards md">
                <div class="mian-container">
                    <div class="blk-2x"></div>
                    <div class="media-content post-detail">
                        <div class="item">
                            <div class="photo">
                                <a href="#"><img src="../static/images/photo.png"></a>
                            </div>
                            <div class="content">
                                <h4><a href="#">理财小白如何理财？</a></h4>
                                <p>但经济是做出来的.七、多关注一些有立场、有态度的杂志.比如因为价格让我深恶痛绝的哈佛商业评论,但是我不得不买,就是因为这本杂志,更多的时候,是在讲事实,讲科技,而不是吹牛逼.八、财经…</p>
                                <div class="block-bar">
                                    <span><a href="#">景玺龙</a></span>
                                    <div class="control-right">
                                        <div class="row-1x">
                                            <div class="group-span-1x"><span>4月7日 10:01</span><span>来自：<a href="#">财经论坛</a></span><span>36条评论</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="solid divider"></div>
                    </div>
                    <div class="post-list">
                        <div class="item">
                            <div class="photo">
                                <a href="#"><img src="../static/images/photo.png"></a>
                            </div>
                            <div class="content">
                                <div class="block-bar">
                                    <span><a href="#">万小祭</a></span>
                                    <span>10分钟前</span>
                                </div>
                                <p>经过几十年的发展，任何一个行业都容易产生一种刻板印象</p>
                                <div class="block-bar action">
                                    <span><a href="#">回复</a></span>
                                    <div class="right-control">
                                        <span class="like"><a href="#"><i class="icon-like"></i></a>5676</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <a href="#"><img src="../static/images/photo.png"></a>
                            </div>
                            <div class="content">
                                <div class="block-bar">
                                    <span><a href="#">何沛宽</a></span>
                                    <span>10分钟前</span>
                                </div>
                                <p>分析很细腻</p>
                                <div class="block-bar action">
                                    <span><a href="#">回复</a></span>
                                    <div class="right-control">
                                        <span class="like"><a href="#"><i class="icon-like"></i></a>23</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <a href="#"><img src="../static/images/photo.png"></a>
                            </div>
                            <div class="content">
                                <div class="block-bar">
                                    <span><a href="#">薛洪言</a></span>
                                    <span>10分钟前</span>
                                </div>
                                <p>金融平台打黑这是必须的</p>
                                <div class="block-bar action">
                                    <span><a href="#">回复</a></span><span class="drop-toggle"><a href="#">1条回复 <i class="icon-arrow-down"></i></a></span>
                                    <div class="right-control">
                                        <span class="like"><a href="#"><i class="icon-like"></i></a>5676</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <a href="#"><img src="../static/images/photo.png"></a>
                            </div>
                            <div class="content">
                                <div class="block-bar">
                                    <span><a href="#">景玺龙</a></span>
                                    <span>10分钟前</span>
                                </div>
                                <p>经过几十年的发展，任何一个行业都容易产生一种刻板印象</p>
                                <div class="block-bar action">
                                    <span><a href="#">回复</a></span><span class="drop-toggle"><a href="#">1条回复 <i class="icon-arrow-up"></i></a></span>
                                    <div class="right-control">
                                        <span class="like"><a href="#"><i class="icon-like"></i></a>5676</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="photo">
                                        <a href="#"><img src="../static/images/photo.png"></a>
                                    </div>
                                    <div class="content">
                                        <div class="block-bar">
                                            <span><a href="#">李东旭</a></span>
                                            <span>3分钟前</span>
                                        </div>
                                        <p>赞同</p>
                                        <div class="block-bar action">
                                            <span><a href="#">回复</a></span><span class="drop-toggle"></span>
                                            <div class="right-control">
                                                <span class="like"><a href="#"><i class="icon-like"></i></a>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blk-3x"></div>
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous" class="disable"><span aria-hidden="true">上一页</span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="next"><span aria-hidden="true">下一页</span></a></li>
                    </ul>
                </div>
                <div class="side-container">
                    <div class="community-block">
                        <div class="img"><img src="../static/images/img.png"></div>
                        <div class="content">
                            <h4><a href="#">今日金融</a></h4>
                            <p>在社会经济生活，银行、证券或保险业者从市场主体募集资金，并投资</p>
                        </div>
                        <div class="blk-1x"></div>
                        <div class="divider solid"></div>
                        <div class="block-bar">
                            <div class="span"><em>帖子</em><b>6158</b></div>
                            <div class="span"><em>成员</em><b>47846</b></div>
                            <div class="span"><a href="#" class="btn btn-default"><i>+</i>加入</a></div>
                        </div>
                    </div>
                </div>
                <div class="blk-1x"></div>
            </div>
            <div class="divider solid "></div>
        </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../static/lib/jquery-1.8.1.min.js "></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js "></script>
</body>

</html>
