{% extends 'commons/_proto.html' %}
{% from 'commons/navbar_toutiao.html' import macro_body_navbar %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="stylesheets/community/community_home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/community/post.css">
{% endblock %}

{% block body %}
    <div id="navbar">
    	{{ macro_body_navbar() }}
    </div>
    <input id="post_id" style="display:none" value={{post_data.id}}></input>
    <div id="all_backgroud" style="height:auto; background:#FFF">
        <div id="post_wrapper" style="width:980px;text-align:center;margin:0 auto">
            <div id="community_head" class="card_top_wrap">
                <div id="community_head_left" class="card_info">
                    <div id="community_img" class="card_image">
                        <a>
                            <img class src="https://img3.doubanio.com/icon/g35417-1.jpg">
                        </a>
                    </div>
                    <div id="community_title" class="card_title">
                       <a class="card_title_name" title="" href="/f?kw=%E5%AE%9C%E4%BF%A1&amp;ie=utf-8">宜信
岛</a>
                       <span class="card_num_wrap">
                           <span class="card_num_label">关注：</span>
                           <span class="card_num">10,838</span>
                           <span class="card_num_label">贴子：</span>
                           <span class="card_num">40,565</span>
                       </span>
                    </div>
                </div>
            </div>
            <div id="post_info" >
                <div id="post_head" class="post_detail_title">
                    {{post_data.title}}
                </div>
                <div class="post_detail_body">
                    <div class="post_detail_author">
                      <div class="post_detail_user_face">
                          <a>
                              <img class src="https://img3.doubanio.com/icon/u73410923-2.jpg">
                          </a>
                      </div>
                    </div>
                    <div class="post_detail_content_wrap">
                        <div class="post_detail_content_area">
                            <div class="post_detail_content">
                                <p class="post_detail_content_char">{{post_data.content}} <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reply_info" style="text-align:left; height:auto; background:#FFF">
                {% if reply_list %}
                    {%for reply in reply_list%}
                        <!-- <div>
                        </div> -->
                        <div style="height:100px;width:600px;overflow:hidden;text-overflow:ellipsis">
                            <a style="color:inherit" href="http://www.baidu.com"><p>{{reply.content|safe}}</p></a>
                        </div>
                        <div>
                        <p>             </p>
                        </div>
                    {%endfor%}
                {% endif %}
            </div>
            <div id="publish_reply" style="text-align:center; height:500px; background:#FFF">
                <div style="text-align:left; height:30px; background:#FFF">
                <p>回复</p>
                </div>
                <div id="div_reply_content" style="text-align:left; height:300px; background:#FFF">
                    <input id="input_reply_content" type="text" style="width:300px;height:290px" />
                </div>
                <div id="div_button_reply_post" style="text-align:left; height:50px; background:#FFF">
                    <button id="button_reply_post" onclick='publish_reply()'>发起回复</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
         //var obj=document.getElementById("button_publish_post");
         //obj.onclick=function() {
         //  publish_post();
         //}
         function publish_reply() {
           //get title
           //get content
           var content=document.getElementById("input_reply_content").value;
           var id=document.getElementById("post_id").value;
           //post request for save post
           post("/reply_publish",{"type":"publish","content":content,"create_user_id":1,"post_id":id});
         }
         function post(URL, PARAMS) {        
             var temp = document.createElement("form");        
             temp.action = URL;        
             temp.method = "post";        
             temp.style.display = "none";        
             for (var x in PARAMS) {        
                 var opt = document.createElement("textarea");        
                 opt.name = x;        
                 opt.value = PARAMS[x];        
                 temp.appendChild(opt);        
             }     
             document.body.appendChild(temp);        
             temp.submit();        
             return temp;        
         }     
         function search() {
             post("/search",{"query":document.getElementById("search_input").value});
         }
        // function pre_page(page_no) {
        //     window.location="/search_result?page_no="+({{page_no}}-1).toString();
        // }
        // function next_page(page_no) {
        //     window.location="/search_result?page_no="+({{page_no}}+1).toString();
        // }
    </script>
{% endblock %}
