<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../stylesheets/core.css" />
    <link rel="stylesheet" href="../stylesheets/iconfont.css" />
    <link href="lib/css/qq.face.css" rel="stylesheet">
</head>

<body>
    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body ">
        {%if to_user%}
            <input id="chatWith" type="hidden" value="{{to_user.id}}"/>
        {% else %}
             <input id="chatWith" type="hidden" value="{{user_list[0].id}}"/>
        {%endif%}
        <div class="webim">
            <div class="friend-container">
                <div class="container-scroll" style="height:100%;">
                    <ul class="friend-list">
                        {%if to_user%}
                            <li id="u_{{to_user.id}}" onclick="getHistoryMessage({{to_user.id}})">
                                <span><img src="{{to_user.head_img_url}}"></span><span>{{to_user.name}}</span>
                            </li>
                        {%endif%}
                        {% if user_list and unread_count_list%}
                        {% for i in range(user_num)%}
                        <li id="u_{{user_list[i].id}}" onclick="getHistoryMessage({{user_list[i].id}})">
                            <span><img src="{{user_list[i].head_img_url}}"></span>
                            <span>{{user_list[i].name}}
                            {%if unread_count_list[i] %}
                            <b class="circle_sm">{{unread_count_list[i]}}</b>
                            {%endif%}
                            </span>
                        </li>
                        {% endfor %}
                        {% endif%}
                    </ul>
                </div>
            </div>
        
        <div class="chat-container">
            <div class="chat">
                <div class="container-scroll" style="height:100%;">
                <div class="chat-date">{{today}}</div>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="chat-footer">
                <div class="chat-tool"><span class="emotion"><i class="icon-face"></i></span><span class="pull-right"><i class="icon-history"></i></span></div>
                <div class="chat-textarea">
                    <div contenteditable="true" id="smile-editor"></div>
                </div>
                <div class="chat-action">
                    <button id="send" class="btn btn-primary">发送</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div  style="padding-top: 650px;"></div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../lib/jquery-1.8.1.min.js "></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js "></script>
    <script src="../lib/jquery.nicescroll.min.js "></script>
    <script src="../lib/js/privatemessage.js "></script>
    <script>
    var to_user_id =$('#chatWith').val();
    $(function() {
        $(".container-scroll").niceScroll({
            cursorborder: "",
            boxzoom: false,
            oneaxismousemode: "true",
            railoffset: "true",
            dblclickzoom: false,
            horizrailenabled: false,
            railpadding: {
                top: 0,
                right: 2,
                left: 0,
                bottom: 0
            }
        });
        $(".container-scroll").getNiceScroll().resize();
        // add by lxx.smile start
        $('.emotion').qqFace({

            id : 'facebox',

            assign:'smile-editor',

            path:'images/arclist/'	//表情存放的路径

        });

    });
    function replace_em(str){

            str = str.replace(/\</g,'&lt;');

            str = str.replace(/\>/g,'&gt;');

            str = str.replace(/\n/g,'<br/>');

            str = str.replace(/\[em_([0-9]*)\]/g,'<img style="vertical-align: left; text-align: left;" src="images/arclist/$1.gif" border="0" />');

            return str;

    }//smile end
    initData();
    </script>
    <script type="text/javascript" src="lib/js/jquery.qqFace.js"></script>
</body>

</html>
