<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../static/stylesheets/core.css" />
    <link rel="stylesheet" href="../static/stylesheets/iconfont.css" />
</head>

<body>
    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards md">
                  <div id="frame-container-fixed">
    <div class="pull-left">
      <div class="panel" style="height:100%;">
        <div class="consultation-doctor" style="height:100%;">
          <div class="container-scroll" style="height:100%;">
            <div class="item active">
              <div class="content-box">
                <div class="row">
                  <div class="pull-content">
                    <div class="photo-group"><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo.jpg" /></span></div>
                  </div>
                  <div class="content">
                    <h4 style="line-height:30px; margin-bottom:0; font-weight:bold; font-size:1.18em;">发起人：张医生</h4>
                    <p>患者：章泽天</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content-box">
                <div class="row">
                  <div class="pull-content">
                    <div class="photo-group"><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo-man.png" /></span><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo.jpg" /></span></div>
                  </div>
                  <div class="content">
                    <h4 style="line-height:30px; margin-bottom:0; font-weight:bold;">发起人：张医生</h4>
                    <p>患者：章泽天</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content-box">
                <div class="row">
                  <div class="pull-content">
                    <div class="photo-group"><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo.jpg" /></span><span><img src="assets/images/photo-women.png" /></span><span><img src="assets/images/photo.jpg" /></span></div>
                  </div>
                  <div class="content">
                    <h4 style="line-height:30px; margin-bottom:0; font-weight:bold;">发起人：张医生</h4>
                    <p>患者：章泽天</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <div class="panel" style="padding-bottom:151px;">
        <div class="container-scroll3" style="height:100%; overflow-x:hidden;">
          <div class="padding-lr-4x">
            <div class="patient-description">
              <h2>北京诊断中心</h2>
              <h4>患者：<span>张晓宇</span><span class="offset-2x">男</span><span class="offset-2x">23</span></h4>
              <p><span class="text-primary">病症描述：</span>腰椎椎体缘轻度增生，尖弯，诸椎体间，腺癌，CT报告，肺部左下叶下位胸椎椎体低密度灶，甲状腺出现不规则钙化</p>
              <div class="images">
                <div class="wrap-content row-2x"><span><a href="assets/images/img-01.png" data-lightbox="example-set"><img src="assets/images/img-01.png"></a></span><span><a href="assets/images/login-bg.png" data-lightbox="example-set"><img src="assets/images/login-bg.png"></a></span><span><a href="assets/images/login-bg.png" data-lightbox="example-set"><img src="assets/images/login-bg.png"></a></span><span><a href="assets/images/login-bg.png" data-lightbox="example-set"><img src="assets/images/login-bg.png"></a></span></div>
              </div>
            </div>
          </div>
          <div class="blk-2x"></div>
          <div class="talk-title">张医生与患者交流</div>
          <div class="talk consultation">
            <div class="blk-1x"></div>
            <div class="doctor-talk">
              <div class="pull-photo"><span class="photo photo-sm square"><img src="assets/images/photo-default-square-sm.png" /></span></div>
              <div class="content">
                <h4>章泽天</h4>
                <div class="box">患者，今年50岁，长期经受风湿病的折磨，常常不能晚上不能睡觉，这是昨天做的检查，麻烦大夫给判断一下在日常生活中需要注意的问题。谢谢！</div>
              </div>
            </div>
            <div class="patient-talk">
              <div class="pull-photo"><span class="photo photo-sm square"><img src="assets/images/photo-default-square-sm.png" /></span></div>
              <div class="content">
                <h4>我</h4>
                <div class="box">患者患风湿病多久了？</div>
              </div>
            </div>
          </div>
          <div class="blk-2x"></div>
          <div class="talk-title">发起人：张医生<span class="offset-1x">患者：章泽天</span></div>
          <div class="talk consultation">
            <div class="blk-1x"></div>
            <div class="doctor-talk">
              <div class="pull-photo"><span class="photo photo-sm square"><img src="assets/images/photo-default-square-sm.png" /></span></div>
              <div class="content">
                <h4>章泽天</h4>
                <div class="box">患者，今年50岁，长期经受风湿病的折磨，常常不能晚上不能睡觉，这是昨天做的检查，麻烦大夫给判断一下在日常生活中需要注意的问题。谢谢！</div>
              </div>
            </div>
            <div class="patient-talk">
              <div class="pull-photo"><span class="photo photo-sm square"><img src="assets/images/photo-default-square-sm.png" /></span></div>
              <div class="content">
                <h4>我</h4>
                <div class="box">患者患风湿病多久了？？</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="consultation talk-form">
        <div contenteditable="true" class="textarea"></div>
        <div class="clear"></div>
        <button class="btn-primary btn btn-block">发送</button>
      </div>
    </div>
  </div>
            </div>
     
            <div class="divider solid "></div>
        </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../static/lib/jquery-1.8.1.min.js "></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js "></script>
</body>

</html>
