<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../stylesheets/core.css" />
    <link rel="stylesheet" href="../stylesheets/iconfont.css" />
</head>

<body>
    {% include 'commons/body_top.html' %}
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            {% if view_user_info %}
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            {% include 'user_info_header.html' %}
            <div class="divider solid "></div>
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards md">
                <div class="mian-container">
                    <div class="blk-2x"></div>
                    <div class="community">
                    </div>
                    <div class="blk-2x"></div>
                    <ul class="pagination">
                    </ul>
                </div>
                {% include 'user_info_side_right.html' %}
            </div>
            <div class="divider solid "></div>
            {% endif %}
        </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../lib/bootstrap/js/bootstrap.min.js "></script>
    <script src="lib/jquery.twbsPagination.min.js" type="text/javascript"></script>
    <script src="lib/js/user.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
    var view_user_id = {{view_user_info.id}};
    var pageNo = 1;
    var pageSize = 10;
    var totalCount=0 ;
    var totalPages =0;
    loadJoinedCommunity(pageNo);
    </script>

</body>
</html>
<script>



</script>
