{% if view_user_info and session.get('userinfo') and  session.get('userinfo')['id']==view_user_info.id %}
<div class="modal modal-book-content" id="modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-md">
        <div class="modal-content radius-none"> <a class="close" aria-hidden="true" type="button" data-dismiss="modal">×</a>
            <div class="modal-body clearfix relative">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input_user_name" value="{{session.get('userinfo')['name']}}">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="text_user_label" class="form-control">{{view_user_info.label}}</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="justified2-2">
                    <li>
                        <button class="btn btn-default btn-lg btn-block" data-dismiss="modal">取消</button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-lg btn-block" onclick="save_user_info()">确定</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function save_user_info(){
        var user_name = document.getElementById("input_user_name").value;
        if (user_name.trim()==''){
            alert('昵称不能为空')
            return;
        }
        var user_label = document.getElementById("text_user_label").value;
        if (user_label.trim()==''){
            alert('简介不能为空')
            return;
        }
        var data={};
        data['user_name']=user_name;
        data['user_label']=user_label;
        $.ajax({
                 type:'POST',
                 url:'/update_user',
                 data:data,
                 dataType:'json',
                 timeout:5000,
                 success:function(data) {
                        if(data.result==0){
                            $('.h_user_name').text(user_name);
                            $('.p_user_label').text(user_label);
                            window.location.reload();
                        }else{
                            alert('保存失败!');
                        }
                 },
                 error:function(xhr,type){
                     alert('保存失败!');
                 }
        })

    }
</script>
{% endif %}
