<link rel="stylesheet" type="text/css" href="stylesheets/community/user.css">
<script src="{{url_for('static', filename='lib/jquery-2.0.3.js')}}"></script>
<!-- Cropping css/js start -->
{% from 'commons/upload.html' import macro_upload_js_css %}
 {{ macro_upload_js_css() }}
<!-- Cropping css/js end -->
{% extends 'commons/_proto.html' %}
{% from 'commons/upload.html' import macro_upload %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="stylesheets/community/user.css">
    <script src="{{url_for('static', filename='lib/jquery-2.0.3.js')}}"></script>
{% endblock %}

{% block body %}


<div id="navbar" class="navbar_style" >
    {% include 'commons/navbar_toutiao.html' %}
</div>
<div class="container" id="crop-avatar" style="width:90%" >
    <div id="all_backgroud" style="height:auto;min-height:1000px;">
    <div class="user_info_wrap">
        {% if user_info %}
            <div id="user_face" class="user_info_face_div avatar-view">
                <a href = "JavaScript:void(0)"><img class="comm-img-bg" src="{{user_info.head_img_url}}" alt="Avatar"></a>
             </div>
            <div id="user_name" class="user_info_name_div" >
                <p class="user_info_name_p">{{user_info.name}}</p>
            </div>
            <div id="user_professional" class="user_info_professional_div">
                <p class="user_info_professional_p">{{user_info.professional}}</p>
            </div>
            <div>
                <a class="user_btn user_sendmsg_btn" onclick="add_relation()">发私信</a>
            </div>
            <input id="type" name="text" value="user" type="hidden">
            {% if user_info.id ==session.get('userinfo')['id'] %}
                {{ macro_upload()}}
            {%endif%}
        {%endif%}
    </div>

    </div>
</div>

<script type="text/javascript">
  $('a.user_sendmsg_btn').before(select_relation());
  var a = '<a  class="user_btn user_relation_btn" onclick="add_relation()">关注</a>'
function add_relation(){
    {% if session.get('userinfo') %}

        $.ajax({
             type:'POST',
             url:'/add_relation',
             data:{
                relation_user_id:{{user_info.id}},
                 is_relation:0
             },
             dataType:'json',
             success:function(data) {
                var a = '<a  class="user_btn user_relation_btn"  onclick="cancel_relation()">已关注</a>'
                $('a.user_relation_btn').remove();
                $('a.user_sendmsg_btn').before(a);
             },
             error:function(xhr,type){
                 alert('操作失败!');
             }
         })
    {%else%}
        alert('请先登录')
    {%endif%}
}
function cancel_relation(){
 {% if session.get('userinfo') %}
    var userid={{session.get('userinfo')['id']}};
    $.ajax({
         type:'POST',
         url:'/cancel_relation',
         data:{
            user_id:userid,
            relation_user_id:{{user_info.id}},
         },
         dataType:'json',
         success:function(data) {
            alert('您已取消关注！')
            var a = '<a  class="user_btn user_relation_btn" onclick="add_relation()">关注</a>'
            $('a.user_relation_btn').remove();
            $('a.user_sendmsg_btn').before(a);

         },
         error:function(xhr,type){
             alert('操作失败!');
         }
     })
 {%endif%}
}

function select_relation(){
    var a = '<a  class="user_btn user_relation_btn" onclick="add_relation()">关注</a>'
    {% if session.get('userinfo') %}
         var userid={{session.get('userinfo')['id']}};
         $.ajax({
                type:'POST',
                url:'/select_relation',
                data:{
                    user_id:userid,
                    relation_user_id:{{user_info.id}}
                },
                async:false,
                dataType:'json',
                success:function(data) {
                    if(data.is_relation==1){
                        a = '<a  class="user_btn user_relation_btn" onclick="cancel_relation()">已关注</a>'
                    }
                }
         })
    {%endif%}
    return a;
}


</script>
{% endblock %}
