{% extends 'commons/_proto.html' %}
{% from 'commons/upload.html' import macro_upload_js_css %}
{% from 'commons/upload.html' import macro_upload %}
{% block head %}
{{ macro_upload_js_css() }}
{% endblock %}
{% block body %}
<!--<div id="navbar" class="navbar_style">-->
<!--{% include 'commons/navbar_toutiao.html' %}-->
<!--</div>-->
<div class="d1" >
    <div class="d2" >
        <div class="d3" ></div>
    </div>
</div>
<div class="container" id="crop-avatar" style="width:90%">
    {% if user_info %}
    <div class="all_backgroud">
        <div class="user_info_wrap">
            <div id="user_face" class="user_info_face_div avatar-view">
                <a href="JavaScript:void(0)"><img class="comm-img-bg" src="{{user_info.head_img_url}}" alt="用户头像"></a>
            </div>
            <div id="user_name" class="user_info_name_div ">
                <div class="show_name">
                    <p class="user_info_name_p">{{user_info.name}}</p>
                    <a onclick="to_edit_name()" class="user_edit">编辑</a>
                </div>
            </div>
            <div id="user_label" class="user_info_professional_div">
                <div class="show_label">
                    <p class="user_info_professional_p">
                        {%if user_info.label%}
                            {{user_info.label}}
                        {%else%}
                         用一句话介绍一下自己吧
                        {%endif%}
                    </p>
                    <a onclick="to_edit_label()" class="user_edit">编辑</a>
                </div>
            </div>
            <div>
                {% if user_info.id!=session.get('userinfo')['id'] %}
                <a class="user_btn user_sendmsg_btn" href="/private_message?to_user_id={{user_info.id}}">发私信</a>
                {%endif%}
            </div>
            <input id="type" name="text" value="user" type="hidden">
            {% if user_info.id ==session.get('userinfo')['id'] %}
            {{ macro_upload()}}
            {%endif%}

        </div>
    </div>
    <div id="user" class="col-sm-12 u_page_title"><a href="user_info?user_id={{user_info.id}}">个人主页</a></div>
    <div id="post_container" class="col-sm-12 no_m_p">
        <div class="user_post_wrap col-sm-8">
            <div class="col-sm-12 user_post"></div>
            <div class="page-center">
                <ul class="sync-pagination pagination-sm" id="user-post-pagination"></ul>
            </div>
        </div>
        <div class="user_friend_wrap">
            <div class="col-sm-12 f_title ">好友列表</div>
            <div class="col-sm-12 friend_content"></div>
            <!--<div class="page-center"><ul class="sync-pagination pagination-sm" id="friend-pagination"></ul></div>-->
        </div>
    </div>
    <div id="friend_container" class="col-sm-12 u_friend_container">
        <div class="col-sm-12 user_friend_blv">
            <div class="friend_title col-sm-12">
                {% if user_info.id ==session.get('userinfo')['id'] %}
                我的好友
                {%else%}
                他的好友
                {%endif%}
            </div>
            <div class="col-sm-12 friend_content"></div>
        </div>
        <div class="col-sm-12 page-center">
            <ul class="sync-pagination pagination-sm" id="user-friend-pagination"></ul>
        </div>
    </div>
</div>


<link href="/try/bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/community/user.css">

{%endif%}
</div>
<script src="lib/jquery.twbsPagination.min.js" type="text/javascript"></script>
<script src="lib/js/user.js" type="text/javascript"></script>
<script type="text/javascript">
//init data
var defaultPage=1;
var fPageNo=1;
var pageNo=1;
var pageSize=10,fPageSize = 10;
var totalPages=0,fTotalPages = 0;
var login_userid=0;

var user_id={{user_info.id}};
//load_more_friends(1)
var a = '<a  class="user_btn user_relation_btn" onclick="add_relation()">关注</a>'
{% if session.get('userinfo') %}
     login_userid={{session.get('userinfo')['id']}};
     if(login_userid!={{user_info.id}}){
       $('a.user_sendmsg_btn').before(select_relation());
     }
{%endif%}
load_friends(1);
load_post(1);
init();



// init end
function likeReply(replyId) {
   if(login_userid>0){
       var countElementId = "count-" + replyId;
       var linkElementId = "link-" + replyId;
       var isliked = $("#isliked-" + replyId).val();
       var modType = "";
       var count = $("#" + countElementId).text();
       // add by lxx
       if (count=="" || isNaN(parseInt(count))){
           count=0;
       }
       if (isliked == "True" || isliked=="true") {
           var countNum = parseInt(count) - 1;
           if(countNum==0){
             $("#" + countElementId).text("");
           }else{
            $("#" + countElementId).text("" + countNum);
            }
           $("#" + linkElementId).addClass("reply-liked-no");
           $("#isliked-" + replyId).val("False");
           modType="remove";
       } else {
           var countNum = parseInt(count) + 1;
           $("#" + countElementId).text("" + countNum);
           $("#" + linkElementId).removeClass("reply-liked-no");
           $("#isliked-" + replyId).val("True");
           modType="add";
       }

       var url = "/reply_like_status_change?replyid=" + replyId + "&modtype=" + modType;
       console.debug("isliked: ", isliked, "url: ", url);
       $.get(url, function(data) {
           console.debug("data:", data);
       });
    }else{
       alert("需要登陆才能点赞！");
    }

   }




function add_relation(){
    {% if session.get('userinfo') %}
        $.ajax({
             type:'POST',
             url:'/add_relation',
             data:{
                 relation_user_id:user_id,
                 is_relation:0
             },
             dataType:'json',
             success:function(data) {
                var a = '<a  class="user_btn user_relation_btn"  onclick="cancel_relation()">已关注</a>'
                $('a.user_relation_btn').remove();
                $('a.user_sendmsg_btn').before(a);
             },
             error:function(xhr,type){
                 alert('操作失败!');
             }
         })
    {%else%}
        alert('请先登录')
    {%endif%}
}
function cancel_relation(){
    if(login_userid>0){
        $.ajax({
             type:'POST',
             url:'/cancel_relation',
             data:{
                user_id:login_userid,
                relation_user_id:user_id
             },
             dataType:'json',
             success:function(data) {
                alert('您已取消关注！')
                var a = '<a  class="user_btn user_relation_btn" onclick="add_relation()">关注</a>'
                $('a.user_relation_btn').remove();
                $('a.user_sendmsg_btn').before(a);

             },
             error:function(xhr,type){
                 alert('操作失败!');
             }
         })
    }
}




function select_relation(){
    var a = '<a  class="user_btn user_relation_btn" onclick="add_relation()">关注</a>'
        if(login_userid>0){
             $.ajax({
                    type:'POST',
                    url:'/select_relation',
                    data:{
                        user_id:login_userid,
                        relation_user_id:user_id
                    },
                    async:false,
                    dataType:'json',
                    success:function(data) {
                        if(data.is_relation==1){
                            a = '<a  class="user_btn user_relation_btn" onclick="cancel_relation()">已关注</a>'
                        }
                    }
             })
        }
    return a;
}


function inputFocus(param){
    if(param=="name"){
        $('#user_name').find('div.input_wrap').addClass('focus_border');
    }else if(param=="label"){
        $('#user_label').find('div.input_wrap').addClass('focus_border');
    }

}
function inputBlur(param){
     if(param=="name"){
        $('#user_name').find('div.input_wrap').removeClass('focus_border');
    }else if(param=="label"){
        $('#user_label').find('div.input_wrap').removeClass('focus_border');
    }
}

// name click edit
function to_edit_name(){
    var username = $('.user_info_name_p').text();
    var input ="<div class='input_wrap'><input class='input_name' onfocus='inputFocus(\"name\")' onblur='inputBlur(\"name\")' value='"+username+"' type='text'><div>";
    var save_btn ='<a href="javascript:void(0)" onclick="save_name()" id="a_save_name" class="edit_btn">保存</a>';
    var cancel_btn ="<a href='javascript:void(0)' onclick='cancel_edit(\"name\")' class='edit_btn'>取消</a>";
    $('#user_name').append(input).append(cancel_btn).append(save_btn);
    $('.show_name').removeClass('edit').addClass('none');
    $('#user_name').addClass('do_edit');
    $('#user_name').find('.input_name').focus();
}

//label click edit
function to_edit_label(){
    var userlabel = $('.user_info_professional_p').text();
    var defaultlabel ='用一句话介绍一下自己吧'
    if(userlabel.trim()==defaultlabel){
        userlabel='';
    }
    var input ="<div class='input_wrap'><input class='input_label' onfocus='inputFocus(\"label\")' onblur='inputBlur(\"label\")' value='"+userlabel+"' type='text'><div>";
    var save_btn ='<a href="javascript:void(0)" onclick="save_label()"  id="a_save_label" class="edit_btn">保存</a>';
    var cancel_btn ="<a href='javascript:void(0)' onclick='cancel_edit(\"label\")' class='edit_btn'>取消</a>";
    $('#user_label').append(input).append(cancel_btn).append(save_btn);
    $('.show_label').removeClass('edit').addClass('none');
    $('#user_label').addClass('do_edit');
    $('#user_label').find('.input_label').focus();
}
function save_name(){
        var username = $('#user_name').find('.input_name').val();
        if (username.trim()==''){
            alert('昵称不能为空')
            return;
        }
        var data={
            data:JSON.stringify({
                 username:username,
                 type:'name'
            })
        }
        $.ajax({
                 type:'POST',
                 url:'/update_user',
                 data:data,
                 dataType:'json',
                 timeout:5000,
                 success:function(data) {
                        if(data.result==0){
                            $('.user_info_name_p').text(username);
                            cancel_edit('name');
                        }else{
                            alert('保存失败!');
                        }
                 },
                 error:function(xhr,type){
                     alert('保存失败!');
                 }
        })

    }
 function save_label(){
        var userlabel = $('#user_label').find('.input_label').val();
        var data={
            data:JSON.stringify({
                 label:userlabel,
                 type:'label'
            })
        }
        $.ajax({
                 type:'POST',
                 url:'/update_user',
                 data:data,
                 dataType:'json',
                 timeout:5000,
                 success:function(data) {
                    if(data.result==0){
                        $('.user_info_professional_p').text(userlabel);
                        cancel_edit('label');
                     }else{
                        alert('保存失败!');
                     }
                 },
                 error:function(xhr,type){
                     alert('保存失败!');
                 }
        })

    }
function cancel_edit(param){
    if(param=='name'){
        $('#user_name').find('div.input_wrap').remove();
        $('#user_name').find('a.edit_btn').remove();
        $('#user_name').removeClass('do_edit');
        $('#user_name').find('.show_name').removeClass('edit').removeClass('none');
    }else if(param=="label"){

        $('#user_label').find('div.input_wrap').remove();
        $('#user_label').find('a.edit_btn').remove();
        $('#user_label').removeClass('do_edit');
        $('#user_label').find('.show_label').removeClass('edit').removeClass('none');

    }

}



function init(){
    //edit
    if(login_userid=={{user_info.id}}){
        $('#user_name').mouseover(function () {
             $('.show_name').addClass('edit')
        })
        $('#user_name').mouseout(function(){
             $('.show_name').removeClass('edit')
        })
        $('#user_label').mouseover(function () {
             $('.show_label').addClass('edit')
        })
        $('#user_label').mouseout(function(){
             $('.show_label').removeClass('edit')
        })
    }

    if(totalPages>0){
        $('#user-post-pagination').twbsPagination({
           startPage: pageNo,
           totalPages: totalPages,
           first: '首页',
           prev: '前一页',
           next: '下一页',
           last: '末页',
           onPageClick: function (evt, page) {
               if (page == pageNo) {
                   console.debug("current page number clicked, do nothing.");
                   return;
               }
              load_post(page);
              window.location.hash="#user";//定位到列表头部
           }
        });
    }//post info end


    if(fTotalPages>0){
        // more friends start
        $('#user-friend-pagination').twbsPagination({
           startPage: fPageNo,
           totalPages: fTotalPages,
           first: '首页',
           prev: '前一页',
           next: '下一页',
           last: '末页',
           onPageClick: function (evt, page) {
               if (page == fPageNo) {
                   console.debug("current page number clicked, do nothing.");
                   return;
               }
               load_more_friends(page)
              window.location.hash="#user";//定位到列表头部


           }
        });
    }
}

</script>
{% endblock %}
