<div class="side-container">
    {% if view_user_info %}
    <ul class="list-menu list-unstyled">
        <li id="li_post"><a href="/user_info_post?type=1&user_id={{view_user_info.id}}">我的帖子</a></li>
        <li id="li_community_create"><a href="user_info_community_create?user_id={{view_user_info.id}}">创建的社区</a></li>
        <li id="li_community_join"><a href="user_info_community_join?&user_id={{view_user_info.id}}&type=joined">加入的社区</a></li>
        <li id="li_friend"><a href="user_info_friend?&user_id={{view_user_info.id}}">我的好友</a></li>
        <!--
        <li><a href="user_comments.html">我的评论</a><span class="badge"></span></li>
        <li><a href="user_on_my_comments.html">评论我的</a><span class="badge"></span></li>
        <li><a href="user_followed.html">我关注的</a><span class="badge"></span></li>
        <li><a href="user_follow.html">关注我的</a><span class="badge"></span></li>
        -->
    </ul>
    {% endif %}
</div>
<script type="text/javascript" >
    {% if user_info_type %}
        {% if user_info_type == 'post' %}
        document.getElementById('li_post').className="active";
        {% elif user_info_type == 'community_create' %}
        document.getElementById('li_community_create').className="active";
        {% elif user_info_type == 'community_join' %}
        document.getElementById('li_community_join').className="active";
        {% elif user_info_type == 'friend' %}
        document.getElementById('li_friend').className="active";
        {% endif %}
    {% endif %}
</script>
