<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../static/stylesheets/core.css" />
    <link rel="stylesheet" href="../static/stylesheets/iconfont.css" />
</head>

<body>
    <div id="header" class="bg-white">
        <div class="container ">
            <div class="site-brand">
                <div class="logo-brand">
                    <a href="index.html"><img src="../static/images/logo.png" alt="金融岛"></a>
                </div>
            </div>
            <div class="top-search">
                <div class="search-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索社区和帖子" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="icon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="top-nav">
                <li><a href="j-index.html">资讯</a></li>
                <li class="active"><a href="good_post_list.html">社区</a></li>
            </ul>
            <div class="right-control">
                <ul class="user-nav list-unstyled">
                    <li><a data-toggle="dropdown" href="#"><i class="icon-bell active"></i></a>
                        <ul class="dropdown-menu ">
                            <li><a href=" "><span class="badge">5</span><span>评论</span></a></li>
                            <li><a href=" "><span class="badge">15</span><span>赞</span></a></li>
                            <li><a href=" "><span>回复</span></a></li>
                            <li><a href=" "><span>关注</span></a></li>
                        </ul>
                    </li>
                    <li class="login hidden"><a href="template.html">登录</a></li>
                    <li class="register dropdown-toggle"><a data-toggle="dropdown" href="#">hongleifu<b class="caret"></b></a>
                        <ul class="dropdown-menu ">
                            <li><a href=" "><span>我的主页</span></a></li>
                            <li><a href=" "><span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider solid "></div>
    <div id="body ">
        <div class="container ">
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="my-header">
                <div class="img">
                    <a href="#"><img src="../static/images/photo.png"></a>
                </div>
                <div class="content">
                    <h4>hongleifu<a href="#"><i class="icon-pencil"></i></a></h4>
                    <p>一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。</p>
                </div>
                <div class="right-control"><a href="#" class="btn btn-default"><i>+</i>关注</a><span class="offset-1x"><a href="#" class="btn btn-default">交流</a></span></div>
            </div>
            <div class="divider solid "></div>
            <div class="blk-2x"></div>
            <div class="divider solid "></div>
            <div class="cards md">
                <div class="mian-container">
                    <div class="blk-2x"></div>
                    <div class="message media">
                        <div class="item">
                            <div class="photo"><img src="../static/images/photo.png"></div>
                            <div class="content">
                                <div class="block-bar">
                                    <a href="#"><span>景玺龙</span></a><span class="offset-1x">4月7日 10:01</span>
                                </div>
                                <p>同意景玺龙的看法</p>
                            </div>
                            <div class="blockquote"><span class="text-muted">评论帖子：</span>如何读懂财经新闻？</div>
                        </div>
                    </div>
                </div>
                <div class="side-container">
                    <ul class="list-menu list-unstyled">
                        <li><a href="user_info.html">我的帖子</a><span class="badge">12</span></li>
                        <li><a href="user_community.html">创建的社区</a><span class="badge">12</span></li>
                        <li><a href="user_community_followed.html">加入的社区</a><span class="badge">12</span></li>
                        <li><a href="user_comments.html">我的评论</a><span class="badge">12</span></li>
                        <li class="active"><a href="user_on_my_comments.html">评论我的</a><span class="badge">12</span></li>
                        <li><a href="user_followed.html">我关注的</a><span class="badge">128</span></li>
                        <li><a href="user_follow.html">关注我的</a><span class="badge">128</span></li>
                    </ul>
                </div>
            </div>
            <div class="divider solid "></div>
        </div>
    </div>
    <div id="footer ">
        <div class="copyright">CreditEase© 京ICP备12016237号-1 版权所有 普信恒业科技发展(北京)有限公司</div>
    </div>
    <script src="../static/lib/jquery-1.8.1.min.js "></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js "></script>
</body>

</html>
