<div id="header" class="bg-white">
    <div class="container ">
        <div class="site-brand">
            <div class="logo-brand">
                <a href="index.html"><img src="../images/logo.png" alt="金融岛"></a>
            </div>
        </div>
        <div class="top-search">
            <div class="search-group">
                <div class="input-group">
                    <input id="search_input_community_post_person" type="text" class="form-control"  placeholder="搜索社区和帖子" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="icon-search"></i></button>
                    </div>
                </div>
                <div class="suggest-container hide">
                        <div class="suggest">
                            <div class="item">
                                <div class="heading">社区</div>
                                <div class="body">
                                    <ul class="s-community">
                                        <!---->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <ul class="top-nav">
            <li><a href="http://jinrongdao.com:5100">资讯</a></li>
            <li class="active"><a href="http://jinrongdao.com:6100/index">社区</a></li>
        </ul>
        <div class="right-control">
            <ul class="user-nav list-unstyled">
                {% if messages_unread_num %}
                <li><a data-toggle="dropdown" href="#"><i class="icon-bell active"></i></a>
                {% else %}
                <li><a data-toggle="dropdown" href="#"><i class="icon-bell"></i></a>
                {% endif %}
                    <ul class="dropdown-menu ">
                        <li target="_blank"><a href="/message?type=4">
                            {% if count_reply %}
                            <span class="badge">{{count_reply}}</span>
                            {% endif %}
                            <span>评论</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="/message?type=2">
                            {% if count_do_good %}
                            <span class="badge">{{count_do_good}}</span>
                            {% endif %}
                            <span>赞</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="/message?type=3">
                            {% if count_comment %}
                            <span class="badge">{{count_comment}}</span>
                            {% endif %}
                            <span>回复</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="message?type=1">
                            {% if count_guanzhu %}
                            <span class="badge">{{count_guanzhu}}</span>
                            {% endif %}
                           <span>关注</span>
                           </a>
                        </li>
                        <li target="_blank"><a href="/private_message">
                            {% if private_unread_count %}
                            <span class="badge">{{private_unread_count}}</span>
                            {% endif %}
                           <span>私信</span>
                           </a>
                        </li>
                    </ul>
                </li>
                <li class="register dropdown-toggle">
                    {% if session.get('userinfo') %}
                    <a id="a_login" data-toggle="dropdown" href="#">{{session.get('userinfo')['name']}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="logined_memu">
                        <li><a href="/user_info_post?user_id={{ session.get('userinfo')['id'] }}"><span>我的主页</span></a></li>
                        <li><a href="#" onclick="return to_log_out()"><span>退出</span></a></li>
                    </ul>
                    <a href="#" onclick="to_log_in()" id="a_login_unlogined" style="display:none">登录&注册</a>
                    {% else %}
                    <a href="#" onclick="to_log_in()" id="a_login_unlogined">登录&注册</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="modal modal-book-content" id="modal_new" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-md">
        <div class="modal-content radius-none">
            <div class="modal-body clearfix relative">
            <div class="content-box topic-creat">
            <div class="pull-content img text-center">
                <a  href="#photo" data-toggle="modal">
                    <img alt="shequ" src="../images/img.png">
                    <input type="hidden" value="createShequ">
                </a></div>
            <div class="content">
                <div class="form-inline">
                    <div class="form-group">
                        <input name="cummunityname" type="text"  class="form-control" placeholder="输入社区标题" >
                    </div>
                    <div class="form-group">
                        <textarea name="communitydesc" class="form-control" placeholder="输入社区简介，提升人气" ></textarea>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="modal-footer">
                <div class="justified2-2">
                    <li>
                        <button class="btn btn-default btn-lg btn-block" data-dismiss="modal">取消</button>
                    </li>
                    <li>
                        <button id="createCommunity" class="btn btn-primary btn-lg btn-block">创建社区</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../lib/jquery-1.8.1.min.js "></script>
<script type="text/javascript" >
    var user_id =0;
    getLoginInfo();
    function getLoginInfo(){
        {% if session.get('userinfo')%}
            user_id = {{session.get('userinfo')['id']}};
        {%endif%}
    }
    $('#createCommunity').click(function(){
       var name=$("input[name='cummunityname']").val();
       var desc=$('textarea[name="communitydesc"]').val();
       if($.trim(desc)=="" || $.trim(desc)=="输入社区简介，提升人气" || desc.length==0){
          alert('请输入社区简介');
          return;
       }
       var head_img_url = $('#modal_new').find('a[href="#photo"]').find('img').attr('src');
        var data={};
        data['name'] =name;
        data['describe'] = desc;
        data['head_img_url'] = head_img_url;
        data['type']='publish'
        $.ajax({
          type:'POST',
          url:'/community_create',
          data:data,
          dataType:'json',
          success:function(data){
            if (data['code']==0){
                community = data.community
                window.location.href='/community?id='+community.id+'&type=query';
            }else{
                alert('创建失败！')
            }
            $("input[name='cummunityname']").val('');
            $('textarea[name="communitydesc"]').val('');
          },
          error:function(xhr,type) {
            alert('创建失败！');
          }
        });
        return false;
    })

  function to_log_out() {
    data={};
    $.ajax({
      type:'POST',
      url:'/logout',
      data:data,
      dataType:'json',
      success:function(data){
        if (data['succ']==0){
          user_id =0;
          document.getElementById("logined_memu").style.display="none";
          document.getElementById("a_login").style.display="none";
          document.getElementById("a_login_unlogined").style.display="block";
        }
      },
      error:function(xhr,type) {
      }
    });
    return false;
  }

  function toCreate(){
    if(user_id>0){
        var name = $('#search_input_community_post_person').val()
        $("input[name='cummunityname']").val(name);
    }else{
        alert('登录后才能创建社区哦！')
        return false;
    }
  }

  function to_log_in() {
     var cur_url=this.location.href;
     window.location.href="/login?next_url="+cur_url;
  }
  <!--$('#search_input_community_post_person').blur(function(){-->
      <!--$('.suggest-container').addClass('hide');-->
  <!--})-->
  var flag;
  $('#search_input_community_post_person').keyup(function(){
       find_match_community();
       $('.suggest-container').removeClass('hide');
       clearTimeout(flag);
       //延时500ms执行请求事件，如果感觉时间长了，就用合适的时间
       //只要有输入则不执行keyup事件
       flag = setTimeout(function(){
       //这里面就是调用的请求
        find_match_community();
       }, 500);
  })

  function find_match_community(){
       var name = $('#search_input_community_post_person').val();
       if(name.trim()!=""){
           $.ajax({
               url:'/find_match_community',
               type:'get',
               data:{
                   name:name
                   },
               dataType:'json',
               timeout:5000,
               success:function(data){
                   if(data.comm_list !=null && data.comm_list.length>0){
                     communities = data.comm_list;
                     drop_menu_html=''
                     for(var i =0;i<communities.length;i++){
                       drop_menu_html = drop_menu_html +'<li><a href="/community?type=query&id='+communities[i].id+'">'+communities[i].name+'</a></li>'
                     }
                     $('ul.s-community').html(drop_menu_html);
                   } else {
                        var drop_menu_html='';
                      if(user_id>0){
                        drop_menu_html='<li>目前还没有<span class="text-primary">'+name+'</span>岛<span class="offset-1x"><a onclick="toCreate()"  href="#modal_new" data-toggle="modal"  class="btn btn-sm btn-default">去创建</a></span></li>';
                      }else{
                         drop_menu_html='<li>目前还没有<span class="text-primary">'+name+'</span>岛<span class="offset-1x"><a onclick="toCreate()"  href="javascript:void(0)" data-toggle="modal"  class="btn btn-sm btn-default">去创建</a></span></li>';
                      }
                      $('ul.s-community').html(drop_menu_html);
                   }
               }
           })
       }
  }

</script>
