<div id="header" class="bg-white">
    <div class="container ">
        <div class="site-brand">
            <div class="logo-brand">
                <a href="index.html"><img src="../images/logo.png" alt="金融岛"></a>
            </div>
        </div>
        <div class="top-search">
            <div class="search-group">
                <div class="input-group">
                    <input id="search_input_community_post_person" type="text" class="form-control" placeholder="搜索社区和帖子" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="icon-search"></i></button>
                    </div>
                </div>
                <div class="suggest-container hide">
                        <div class="suggest">
                            <div class="item">
                                <div class="heading">社区</div>
                                <div class="body">
                                    <ul class="s-community">
                                        <li>目前还没有<span class="text-primary">金融</span>社区<span class="offset-1x"><a href="#modal" data-toggle="modal"  class="btn btn-sm btn-default">去创建</a></span></li>
                                        <li><a href="#"><span class="img"><img src="../static/images/shequ/img1.jpg"></span><span>金融岛</span></a></li>
                                        <li><a href="#"><span class="img"><img src="../static/images/shequ/img1.jpg"></span><span>金融理财</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <ul class="top-nav">
            <li><a href="http://jinrongdao.com:5100">资讯</a></li>
            <li class="active"><a href="http://jinrongdao.com:6100/index">社区</a></li>
        </ul>
        <div class="right-control">
            <ul class="user-nav list-unstyled">
                {% if messages_unread_num %}
                <li><a data-toggle="dropdown" href="#"><i class="icon-bell active"></i></a>
                {% else %}
                <li><a data-toggle="dropdown" href="#"><i class="icon-bell"></i></a>
                {% endif %}
                    <ul class="dropdown-menu ">
                        <li target="_blank"><a href="/message?type=message_all&message_type=4">
                            {% if count_reply %}
                            <span class="badge">{{count_reply}}</span>
                            {% endif %}
                            <span>评论</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="/message?type=message_all&message_type=2">
                            {% if count_do_good %}
                            <span class="badge">{{count_do_good}}</span>
                            {% endif %}
                            <span>赞</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="/message?type=message_all&message_type=3">
                            {% if count_comment %}
                            <span class="badge">{{count_comment}}</span>
                            {% endif %}
                            <span>回复</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="message?type=message_all&message_type=1">
                            {% if count_guanzhu %}
                            <span class="badge">{{count_guanzhu}}</span>
                            {% endif %}
                           <span>关注</span>
                           </a>
                        </li>
                        <li target="_blank"><a href="/private_message">
                            {% if private_unread_count %}
                            <span class="badge">{{private_unread_count}}</span>
                            {% endif %}
                           <span>私信</span>
                           </a>
                        </li>
                    </ul>
                </li>
                <li class="register dropdown-toggle">
                    {% if session.get('userinfo') %}
                    <a id="a_login" data-toggle="dropdown" href="#">{{session.get('userinfo')['name']}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="logined_memu">
                        <li><a href="/user_info_post?user_id={{ session.get('userinfo')['id'] }}"><span>我的主页</span></a></li>
                        <li><a href="#" onclick="return to_log_out()"><span>退出</span></a></li>
                    </ul>
                    <a href="#" onclick="to_log_in()" id="a_login_unlogined" style="display:none">登录&注册</a>
                    {% else %}
                    <a href="#" onclick="to_log_in()" id="a_login_unlogined">登录&注册</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<script src="../lib/js/search.js" ></script>-->
<script src="../lib/jquery-1.8.1.min.js "></script>
<script type="text/javascript" >
  function to_log_out() {
    data={};
    $.ajax({
      type:'POST',
      url:'/logout',
      data:data,
      dataType:'json',
      success:function(data){
        if (data['succ']==0){
          user_id =0;
          document.getElementById("logined_memu").style.display="none";
          document.getElementById("a_login").style.display="none";
          document.getElementById("a_login_unlogined").style.display="block";
        }
      },
      error:function(xhr,type) {
      }
    });
    return false;
  }
  function to_log_in() {
     var cur_url=this.location.href;
     window.location.href="/login?next_url="+cur_url;
  }
  $('#search_input_community_post_person').blur(function(){
      $('.suggest-container').addClass('hide');
  })
  var flag;
  $('#search_input_community_post_person').keyup(function(){
       $('ul.s-community').html("");
       clearTimeout(flag);
       flag = setTimeout(find_match_community(),500)
       $('.suggest-container').removeClass('hide');
  })
 
  function find_match_community(){
       var name = $('#search_input_community_post_person').val();
       if(name.trim()!=""){
           $.ajax({
               url:'/find_match_community',
               type:'get',
               data:{
                   name:name
                   },
               dataType:'json',
               timeout:5000,
               success:function(data){
                   if(data.comm_list !=null && data.comm_list.length>0){
                     communities = data.comm_list;
                     drop_menu_html=''
                     for(var i =0;i<communities.length;i++){
                       drop_menu_html = drop_menu_html +'<li><a href="/community?type=query&id='+communities[i].id+'">'+communities[i].name+'</a></li>'
                     }
                     $('ul.s-community').html(drop_menu_html);
                   }
               }
           })
       }
  }
</script>
