<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <nav>
            <div id="navbar" class="navbar-collapse collapse">
              <!-- <h2 class="masthead-brand">财经头条</h2> -->
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="margin-right:1px;">
                  {% if session.get('userinfo') %}
                  <a href="#" class="dropdown-toggle" style="background: transparent;padding-right:1px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-user"></i>{{ session.get('userinfo')['name'] }}<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="http://0.0.0.0:6100/user_info?user_id={{ session.get('userinfo')['id'] }}" >个人主页</a></li>
                    <li><a href="javascript:to_log_out()">登出</a></li>
                  </ul>
                  {% else %}
                  <a href="#" class="dropdown-toggle" style="background: transparent;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">未登录 <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:to_log_in()">登录</a></li>
                    <li><a href="javascript:to_regist()">注册</a></li>
                  </ul>
                  {% endif %}
                </li>
                <li class="dropdown" style="margin-left:1px;padding-left:1px;">
                {% if messages_unread %}
                  <a href="#" class="dropdown-toggle" style="background: transparent;margin-left:1px;padding-left:1px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="message_count" class="circle">{{messages_unread_num}}</span></a>
                  
                  <ul class="dropdown-menu dropdown-menu-right" style="min-width: 280px;" id="ul_message_unread">
                  </ul>
                {% else %}
                {% endif %}
                </li>
              </ul>

              <ul class="nav masthead-nav navbar-right">
                <li><a href="http://0.0.0.0:5100/index" target="blank">资讯</a></li>
                <li class="active"><a href="/index">社区</a></li>
              </ul>

            </div>
          </nav>
        </div>



      </div>

    </div>
  </div>
</div>



<script type="text/javascript" >
 function to_log_in() {
     var cur_url=this.location.href;
     window.location.href="/login?next_url="+cur_url;
 }
 function to_regist() {
     var cur_url=this.location.href;
     window.location.href="/user_create?next_url="+cur_url;
 }
 function to_log_out() {
     var cur_url=this.location.href;
     window.location.href="/logout?next_url="+cur_url;
 }
 function load_unread_message() {
     var ul_message_unread=document.getElementById("ul_message_unread");
     {% if messages_unread %}
         {% for message in messages_unread %}
             var new_li = document.createElement("li");
             new_li.innerHTML = '{{message.content|safe}}';
             new_li.onclick= function() {
                 click_message({{message.id|safe}});
             }
             ul_message_unread.appendChild(new_li);
         {% endfor %}
     {% else %}
     {% endif %}
 }
 function click_message(message_id) {
    data={};
    data['message_id']=message_id;
    $.ajax({
      type:'POST',
      url:'/read_message',
      data:data,
      dataType:'json',
      success:function(data) {
        document.getElementById("message_count").innerHTML=data['unread_message_num'];
      },
      error:function(xhr,type){
        alert('read message fail');
      } 
    }
    );
 }

 if(window.addEventListener){
  window.addEventListener("load",load_unread_message,false);
 }
 else{
   window.attachEvent("onload",load_unread_message);
 }
</script>
