
/*Standard Elements*/

.post_all_wraper {
  width:980px;
  text-align:center;
  margin:0 auto;
}

.post_detail_title {
  width: 740px;
  height: 56px;
  line-height: 56px;
  background: #fff;
  border-bottom: 1px solid #BBBDBF;
  position: relative;
  text-align:left;
  font-size:18px;
}
.post_detail_body {
  width: 740px;
}
.post_detail_author {
  width: 130px;
  float: left;
  text-align: center;
  padding: 15px 0;
}

.post_detail_user_face {
  float:left;
  width:48px;
  height:48px;
  margin-right:20px;
  overflow:hidden;
}

.post_detail_content_wrap {
  position: relative;
  float: left;
  width: 588px;
  padding: 0 0 8px 20px;
  background: #fff;
}
.post_detail_content_area {
  height: auto!important;
  height: 170px;
  min-height: 170px;
  padding:10px 10px 10px 10px;
}
.post_detail_content {
  line-height: 24px;
  font-size: 14px;
  word-wrap: break-word;
  text-align:left;
}
.post_detail_content_char {
  text-align:left;
}








.post_title {
  font-size:14px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:460px;
  float:left;
  font-color:blue;
}
.post_title_font {
  color:#259;
}
.post_content {
  width: 460px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666
}
.poster_container {
  width:980px;
  height:82px;
  border-left:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  background-color:#f2f4f7;
  text-align:left;
}
.poster_header {
  margin:20px 0 0 0;
  height:20px;
}

.poster_header_info {
  margin-left:20px;
  font-size: 14px;
  float: left;
}

.poster_title {
  background-color:#f2f4f7;
  text-align:left;
  height:30px;
  padding:20px 0 0 0;
}
.poster_content {
  text-align:left;
  background-color:#f2f4f7;
  height:300px;
  padding:20px 0 0 0;
}
.poster_publish_container {
  text-align:left;
  background-color:#f2f4f7;
  height:50px;
}
